.container {
    background-color:white;
}

#ele {
    margin: 300px;
    background-color: #222b3c;
    border-radius: 15px;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 0px;
    color: white;
}
.button
{
    background-color: #f58220 ;
    text-align: center;
    font-size: 16px;
    margin-left: 1000px;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 150px;
    font-size: large;
    color: white;
}
.button1
{
    border-color: white;
    background-color:  transparent;
    color: white;
    width: 50%;
    height: 60px;
    font-size: 20px;
    border-radius: 7px;
}
.button2
{
  background-color: transparent;
  border-color: white;  
  width: 74%;
  height: 150px;
  font-size: 20px;
  color: white;
  border-radius: 7px;
}
.col-1{ width: 49%; display: inline-block; color: white;}
.col-1 label{ width: 100%; display: inline-block; font-size: 25px; color: white;}
.col-2{ width: 100%;  color: white;}
.col-2 label{ width: 100%; display: inline-block; font-size: 25px; color: white;}
.cont
{
    width: 300px;
    height: 150px;
    background-color: #56c5d0;

    color: white;

}
.cont label{
    font-size: 30px;    
}
